bigquery-magics==0.9.0
google-api-core==2.24.2
google-auth==2.39.0
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.31.0
google-cloud-bigquery-storage==2.31.0
google-cloud-core==2.4.3
ipykernel==6.29.5
ipython==9.2.0
jupyter==1.0.0
jupyterlab==4.4.1
numpy==2.2.4
pandas==2.2.3
pyarrow==19.0.1
requests==2.32.3
tqdm==4.56.2
urllib3==2.4.0
